<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="beers">
                <img class="beer-img"
                    src="/images/beer.png"
                    alt="beericon">
                <div class="beer-links">
                    <a href="/beers" class="btn btn-primary">BEERS</a>
                    <a href="/random-beer" class="btn btn-primary">RANDOM BEERS</a>
                </div>
            </div>
        </div>
    </div>
</div>